.App {
  text-align: center;
}

.App-main {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(64px + 2vmin);
  color: white;
}

h1 {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

h3 {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

.App-link {
  color: #61dafb;
}